# Learn X in Y minutes

This is a notebook that runs through all the concepts in https://learnxinyminutes.com/docs/python/

The idea is that actively coding all the concepts myself >>>> just reading what's in the documentation. Here goes!

## Commenting

In [7]:
# This is an inline comment. We use a single hashtag for this - peasy. The interpreter ignores everything after a hashtag.

""" This is a multi-line
    docstring - we use three "s for this.
    These are read by the interpreter.
    To suppress the output, put a semi-colon at the end.
"""

''' Turns out you can use
    either kind ' or " for multi-line
    comments
''';

## Basic math

In [9]:
# Math is what you would expect
print(1 + 1)
print(8 - 1)
print(10 * 2)
print(35 / 5) # note this is a float

2
7
20
7.0

In [13]:
# Integer/floor division rounds down
print(5 // 3)
print(5.0 // 3.0)
print (5 // 3.0) # note how the output is a float
print(5.0 //3) # and here

1
1.0
1.0
1.0

In [15]:
# It also rounds down (i.e. MORE negative) for negative numbers
print(-5 // 3)

-2

In [17]:
# Normal division always returns a float
print(4 / 2)
print(2 / 3)

2.0
0.6666666666666666

In [20]:
# Modulo returns the remainder from integer division
print(5 % 3)
print(-5 % 3)

2
1

In [21]:
# Exponentiation

print(2**3)

8

In [22]:
# Enforce precedence with brackets
print(1 + 3 * 2)    # follows BODMAS
print((1 + 3) * 2)

7
8

## Booleans

In [26]:
True

True

In [27]:
False

False

In [28]:
not True

False

In [29]:
not False

True

In [30]:
True or False

True

In [31]:
True and False

False

In [32]:
# True and False are actually 1 and 0 but with different keywords
print(True + True)
print(True * 8)
print(False - 5)

2
8
-5

In [33]:
# Comparison operators look at the numerical value of True and False
print(0 == False)   # => True
print(2 > True)     # => True
print(2 == True)    # => False
print(-1 != False)  # => True

True
True
False
True

In [39]:
# None, 0, and empty strings/lists/dicts/tuples/sets all evaluate to False.
print(bool(None))
print(bool(0))
print(bool(''))
print(bool([]))
print(bool({}))
print(bool(()))

False
False
False
False
False
False

In [45]:
# Everything else evaluates to True
print(bool(7))
print(bool('hello'))
print(bool(['list']))
print(bool({'dict': 'ionary'}))
print(bool(('tu','ple')))

True
True
True
True
True

In [55]:
# When we use boolean operators on ints, it temporarily casts them to their boolean value in order to
# carry out the logic, BUT it returns their non-cast (i.e. original integer) value! This is a little confusing!

print(5 or 0) # returns 5
print(5 or 1) # returns 5 - because the interpreter only needs to evaluate the first number to know it's True!
print(1 or 5) # returns 1
print(5 and 1) #returns 1 - because the interpreter needs to evaluate both numbers to know it's True!
print(1 and 5) # returns 5
print(0 and 5) # returns 0
print(5 and 0) # returns 0
print(0 or 5) # returns 5
print(5 or 0) # returns 5

5
5
1
1
5
0
0
5
5

In [56]:
# Equality
print(1 == 1)
print(2 == 1)

True
False

In [57]:
# Inequality
print(1 != 1)
print(2 != 1)

False
True

In [59]:
# Comparisons
print(1 < 10)  # => True
print(1 > 10)  # => False
print(2 <= 2)  # => True
print(2 >= 2)  # => True

True
False
True
True

In [60]:
# Ranges with comparisons

# Check whether a number is in a range
print(1 < 2 and 2 < 3)

# We can write this more nicely using 'chaining'
print(1 < 2 < 3)

True
True

In [2]:
# is vs. ==
#
# is checks if two variables refer to the same object, but == checks
# if the objects pointed to have the same values.

a = [1, 2, 3, 4]  # Point a at a new list, [1, 2, 3, 4]
b = a             # Point b at what a is pointing to
print(b is a)            # => True, a and b refer to the same object
print(b == a)            # => True, a's and b's objects are equal
b = [1, 2, 3, 4]  # Point b at a new list, [1, 2, 3, 4]
print(b is a)            # => False, a and b do not refer to the same object
print(b == a)            # => True, a's and b's objects are equal

True
True
False
True

## Strings

In [6]:
"This is a string"
'This is another string'

'This is another string'

In [7]:
# Concatenation
"Hello" + " world"

'Hello world'

In [8]:
# For string literals (but not variables) you can skip the + sign (but tbh why would you bother?)
"Hello " "world"

'Hello world'

In [10]:
# A string is a list of chars
print("Hello world"[0])
print(len("Hello world"))

H
11

In [13]:
# f-strings
# 
# New in 3.6, this is the best way to format strings with variables
name = "Dave"
f"My name is {name}. It's {len(name)} letters long" # put whatever you like in the {}

"My name is Dave. It's 4 letters long"

## None

In [14]:
# None is an object
print(None)

None

In [21]:
#Â It's common to want to compare to None - use 'is' not ==, so that we compare object
name = "dave"
print(name is None)
print(None is None)

False
True

## Print

In [24]:
# By default print buts a new line at the end - we can change this as follows
print("Hello world", end="!")
print("Nonewline")

Hello world!Nonewline

## Input

In [26]:
## Basic way to get input from the console
some_var = input("Enter some data: ")

Enter some data: test

## Variables

In [27]:
# If a var hasn't been assigned, we get a NameError
unknown_var

NameError: name 'unknown_var' is not defined

In [28]:
# Basic single-line if (ternary operator)
"yes" if 2 > 1 else "no"

'yes'

## Lists

In [38]:
li = [1]
li.append(2)
li.append(3)
li.append(4)
li

[1, 2, 3, 4]

In [39]:
# pops off the last in
li.pop()
li

[1, 2, 3]

In [43]:
li = [1,2,3,4]

print(li[0])
print(li[-1])
print(li[4]) # IndexError

1
4

IndexError: list index out of range

In [55]:
# We can slice a list
print(li[1:3])
print(li[1:])
print(li[:3])
print(li[::2]) # print the list taking a step size of 2 (i.e. skip every other element), so 1,3
print(li[::3]) # 1,4
print(li[::4]) # 1
print(li[::-1]) # print it in reverse order
print(li[::-2]) # print in reverse, with step size 2

[2, 3]
[2, 3, 4]
[1, 2, 3]
[1, 3]
[1, 4]
[1]
[4, 3, 2, 1]
[4, 2]

In [57]:
# Make a 1 layer deep copy using a slice
li2 = li[:]
print(li2 is li) # different objects so False
print(li2 == li) # they have same value so True

False
True

In [58]:
# Remove by index
del li[2]
print(li)

[1, 2, 4]

In [61]:
# Remove by value
li = [1,2,3,2]
li.remove(2) # will remove the first 2 from the list
li

[1, 3, 2]

In [62]:
# Insert into a list by index
li.insert(0, 7)
li

[7, 1, 3, 2]

In [64]:
# Get the index corresponding to where the value is first found

print(li.index(3))
print(li.index(22)) # ValueError as it's not in the list

2

ValueError: 22 is not in list

In [66]:
# concatenate lists
li1 = [1,2,3]
li2 = [4,5,6]

li1 + li2 # note li1 and li2 are unchanged

[1, 2, 3, 4, 5, 6]

In [67]:
# To extend a list

li1.extend(li2)
li1

[1, 2, 3, 4, 5, 6]

In [68]:
# Check if value in a list
print(1 in li1)
print(7 in li1)

True
False

## Tuples

In [70]:
# Tuples are like lists, but are immutable
tup = (1,2,3)
print(tup[0])
tup[0] = 7 # TypeError - list is immutable so we cannot change its elements

1

TypeError: 'tuple' object does not support item assignment

In [71]:
# Note that a tuple of length one has to have a comma after the last element but
# tuples of other lengths, even zero, do not.
print(type((1)))   # => <class 'int'>
print(type((1,)))  # => <class 'tuple'>
print(type(()))    # => <class 'tuple'>

<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [75]:
# You can do most of the list operations on tuples too
print(len(tup))         # => 3
print(tup + (4, 5, 6))  # => (1, 2, 3, 4, 5, 6)
print(tup[:2])          # => (1, 2)
print(2 in tup)         # => True

3
(1, 2, 3, 4, 5, 6)
(1, 2)
True

In [74]:
# tuple obviously has no extend or remove function. It only has 'count' and 'index'
print(tup.count(5)) # Count how many 5s are in the tuple -> 0
print(tup.count(1)) # Count how many 1s are in the tuple -> 1

0
1

In [79]:
# Unpacking

# You can unpack lists or tuples into different vars

a, b, c = (1, 2, 3)
print(a)
print(b)
print(c)

# Extended unpacking

a, *b, c = (1, 2, 3, 4)
print(a)
print(b)
print(c)

# We can swap assignments easily
a, b = b, a 
print(a)
print(b)

1
2
3
1
[2, 3]
4
[2, 3]
1

## Dictionaries

In [104]:
# Dict keys have to be immutable object types - this is to ensure it can be converted to a fixed hash-valuje
# for efficient lookups. Immutable types are e.g. ints, floats, strings, tuples.

valid_dict = {(1,2,3): "bleh"}
print(valid_dict)
invalid_dict = {[1,2,3]: "blah"}

{(1, 2, 3): 'bleh'}

TypeError: unhashable type: 'list'

In [105]:
d = {"one": 1, "two": 2, "three": 3}

# simple lookup
d["one"]

1

In [106]:
# keys() returns an iterable of all keys in the dict. We can convert it to a list with list()
print(d.keys())
print(type(d.keys()))
list(d.keys())

# As of Python 3.7 this returns the keys in order

dict_keys(['one', 'two', 'three'])
<class 'dict_keys'>

['one', 'two', 'three']

In [107]:
# Similar for values
print(d.values())
print(type(d.values()))
list(d.values())

dict_values([1, 2, 3])
<class 'dict_values'>

[1, 2, 3]

In [108]:
# Check for existing of key in dict
print("one" in d)
print("four" in d)
d["four"] # KeyError

True
False

KeyError: 'four'

In [109]:
# To avoid the KeyError, use get()
print(d.get("one"))
print(d.get("four"))
print(d.get("four", 4)) # second arg passes the default value to take if the key isn't found in d

1
None
4

In [110]:
# "setdefault()" inserts into a dictionary only if the given key isn't present
print(d)
d.setdefault("five", 5)
print(d)
d.setdefault("five", 6)  # still 5
print(d)

{'one': 1, 'two': 2, 'three': 3}
{'one': 1, 'two': 2, 'three': 3, 'five': 5}
{'one': 1, 'two': 2, 'three': 3, 'five': 5}

In [111]:
d.update({"four": 4})
d

{'one': 1, 'two': 2, 'three': 3, 'five': 5, 'four': 4}

In [112]:
del d["one"]
d

{'two': 2, 'three': 3, 'five': 5, 'four': 4}

In [ ]:
# Sets store...